# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/app/out/
/.idea/shelf/

# Eclipse
.classpath
.project
.settings
/app/cfg/
/.idea/deployment.xml
/out/
/cfg/
/app/src/main/resources/servlet/content/configuration.js
