td {
    vertical-align: top;
}

div.gray {
    color: gray;
    font-size: .5em;
    display: inline;
}

table.buttonTable {
    border: 2px solid black;
    border-collapse: collapse;
    width: 66%
}

td.lightName {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 20%;
    text-align: center;
    font-size: 2em;
}

td.lightNameSelected {
    background-color: #ff8c00;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 20%;
    text-align: center;
    font-size: 2em;
}

td.louversItem {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0px;
    width: 20%;
    font-size: 1em;
    text-align: center;
}

td.louversName {
    border-collapse: collapse;
    padding: 0px;
    width: 20%;
    text-align: center;
    font-size: 2em;
}

td.louversArrow {
    text-align: center;
    font-size: 5em;
    text-decoration: none;
}

td.louversArrow-moving {
    color: red;
}

td.nodeInfoConnectorTable {
    border: 1px solid black;
}

.nodeInfoConnectorTitle {
    font-size: larger;
    font-weight: bold;
}

div.nodeInfoTitle {
    font-size: x-large;
    font-weight: bold;
}

td.nodeInfoConnectors {
    text-align: center;
}

.activeLight {
    color: red;
}

.noBreak {
    display:inline;
}