td
{
    vertical-align: top;
}

td.errorValue
{
  color: red;
}

td.fineValue
{
  color: black;
}

td.messageLog
{
    font-size: smaller;
    border-top-style: dashed;
    border-top-width: 2px;
}

div.sentMessage
{
    color: blue;
}

table.buttonTable
{
    border:1px solid black;
}

.zaluzieUp
{
    border:1px solid black;
}

.zaluzieUpRunning
{
    border:1px solid black;
    background-color: red;
}

.zaluzieDown
{
    border:1px solid black;
}

.zaluzieDownRunning
{
    border:1px solid black;
    background-color: red;
}

td.nodeInfoConnectorTable
{
    border:1px solid black;
}
.nodeInfoConnectorTitle
{
    font-size:larger;
    font-weight:bold;
}

div.nodeInfoTitle
{
    font-size:x-large;
    font-weight:bold;
}
td.nodeInfoConnectors {
    text-align: center;
}